@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "animations";
@import "tiny-slider";
@import "accordion";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

html {
  background: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-backface-visibility: hidden;
}

body {
  font-family: $fontFamily;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $black;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: background-color 0.4s ease-out;

  &.overflow {
    overflow: hidden;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.dark {
  @apply bg-darktheme;

  p,
  h2,
  h3,
  h4 {
    color: #fff;
  }
  .nav-area {
    .nav-link {
      color: #fff;
    }
    @media (max-width: 1280px) {
      .hamburger {
        span {
          background-color: #fff;
        }
      }
      .nav-wrapper {
        @apply bg-darktheme;

        li {
          .dropdown {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            .dropdown-link {
              border: none;
            }
          }
          a:not(.button) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  .course-hero {
    &::after {
      background: url(../img/course-hero-grid.svg) #1a1328 no-repeat right
        center;
    }
  }

  .single-accordion {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .anim-common {
    background: linear-gradient(93deg, #a98eee 4.12%, #733ff7 95.68%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
}
a {
  color: $black;
  font-weight: 400;
}
a,
button {
  transition: 0.4s ease-out;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

button {
  font: 500 16px $fontFamily;
  cursor: pointer;
  transition: 0.3s ease;
}

main {
  max-width: 100vw;
  /* overflow: hidden; */
}
.manrope {
  font-family: $fontFamily;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 500;
  color: $black;
  font-family: $fontFamily;
}
h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 113%;
  // font-family: Inter;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}
h3 {
  font-size: 36px;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
h5 {
  font-weight: 600;
  font-size: 20px;
}
h6 {
  font-size: 18px;
  font-weight: 700;
}

p,
li {
  margin: 0 0 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: $black;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.font-body {
  font-family: $fontFamily;
}
.font-heading {
  font-family: $fontFamily;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

img,
video {
  max-width: 100%;
  vertical-align: middle;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
.container {
  max-width: 1240px;
}
.small-container {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 16px;

  @media (max-width: 1300px) {
    max-width: 100%;
  }
}

.row {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;
}

.button-unstyled {
  background-color: transparent;
  border: none;
  padding: 0;
}

// .button {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   gap: 8px;
//   background-color: $red;
//   color: #fff;
//   padding: 16px 32px;
//   border-radius: 30px;
//   font-weight: 500;
//   transition-duration: 300ms;
//   transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
//   transform-style: preserve-3d;

//   &:hover {
//     background-color: $blue;
//   }

//   &.chevron {
//     &::after {
//       background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4IDgiPg0KICA8cGF0aCBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjMzMyIgZD0iTS42NjYgNy4zMzMgNy4zMzMuNjY3bTAgMEguNjY2bTYuNjY3IDB2Ni42NjYiLz4NCjwvc3ZnPg==);
//       content: '';
//       width: 7px;
//       height: 7px;
//       background-size: 100%;
//       background-repeat: no-repeat;
//       transition: 0.3s ease-out;
//     }

//     &:hover {
//       &:after {
//         transform: rotate(45deg);
//       }
//     }
//   }

//   &.button-secondary {
//     background-color: transparent;
//     border: 1px solid $red;
//     color: $red;

//     &:hover {
//       background-color: $red;
//       color: #fff;
//     }
//   }

//   &.button-blue {
//     background-color: $blue;

//     &:hover {
//       background-color: $red;
//     }
//   }
// }
.button {
  // padding: 18px 32px;
  // line-height: 22px;
  @apply inline-flex items-center justify-center relative overflow-hidden;
  transition: 0.3s ease-out;
  // gap: 10px;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2f1c5e;
    content: "";
    aspect-ratio: 1/1;
    transition: 0.3s ease-out;
    transform: scaleY(0);
    top: 0;
    left: 0;
    transform-origin: bottom center;
    right: 0;
  }
  &:hover:after {
    transform: scaleY(1);
  }
  & > div {
    position: relative;
    z-index: 10;
  }

  div {
    .button-content-hover {
      position: absolute;
      inset: 0;
      transform: translateY(100%) skewY(18deg);
      transform-origin: left center;
      transition: 0.4s ease-out;
    }
    .button-content {
      transform: translateY(0) skew(0);
      transition: 0.4s ease-out;
      display: inline-block;
    }
  }

  &:hover {
    box-shadow: 0px 14px 48px 0px rgba(112, 67, 227, 0.4);
    div {
      .button-content-hover {
        transform: translateY(0%) skewY(0);
      }
      .button-content {
        opacity: 0;
        transform: translateY(-100%) skew(-18deg);
        transition: 0.4s ease-out;
      }

      // span {
      //   color: #fff;
      // }
    }
  }

  // &:hover {
  //   @apply border-purple bg-purple text-white;
  // }

  // &.button-secondary {
  //   @apply bg-transparent text-white;

  //   &:hover {
  //     @apply bg-purple text-white;
  //   }
  // }
}

.section-pad {
  padding: 100px 0;

  @media (max-width: 767px) {
    padding: 60px 0;
  }
}

.heading {
  @include heading-2;
}

// .rigi-hero {
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     background-image: url("../img/rigi/hero-pattern-l.svg");
//     background-repeat: no-repeat;
//     top: 0;
//     left: 0;
//     width: 467px;
//     height: 654px;

//     @media (max-width: 768px) {
//       background-image: url("../img/rigi/hero-pattern-mweb.svg");
//       top: -13%;
//       left: -24%;
//       background-size: 500px 600px;
//     }
//   }
//   &::after {
//     content: "";
//     position: absolute;
//     background-image: url("../img/rigi/hero-pattern-r.svg");
//     background-repeat: no-repeat;
//     top: 0;
//     right: 0;
//     width: 467px;
//     height: 654px;

//     @media (max-width: 768px) {
//       display: none;
//     }
//   }
// }

.video-top-overlay {
  position: absolute;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 80px;
}

.zap-list {
  list-style-type: none;

  padding-left: 0;
  li {
    padding-left: 36px;
    @apply mb-3 text-base relative last:mb-0;

    &::before {
      content: url("../img/learnyard/zap.svg");
      position: absolute;
      left: 0;
    }
    @media (max-width: 767px) {
      @apply text-sm;
    }
  }
}

// .greentick-list {
//   list-style-type: none;

//   padding-left: 0;
//   li {
//     padding-left: 36px;
//     @apply mb-2 text-base font-medium relative last:mb-0;

//     &::before {
//       content: url("../img/rigi/green-tick.svg");
//       position: absolute;
//       left: 0;
//     }
//     @media (max-width: 767px) {
//       @apply text-sm mb-[12px];
//     }
//   }
// }
.cardd {
  box-shadow: 0px -1px 29px 0px rgba(0, 0, 0, 0.08);
  @media (max-width: 768px) {
    box-shadow: none;
  }
}
.special-discount {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/learnyard/discount-star.svg");
    background-repeat: no-repeat;
    top: -10%;
    left: -5%;
    width: 175px;
    height: 175px;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/learnyard/discount-grid.svg");
    background-repeat: no-repeat;
    top: -8%;
    right: 0%;
    width: 488px;
    height: 518px;
    z-index: 0;
  }
}

.course-benefits {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    background-image: url("../img/learnyard/benefits-grid.svg");
    background-repeat: no-repeat;
    top: -10%;
    left: -5%;
    width: 655px;
    height: 918px;
    z-index: 0;
  }
  &:after {
    content: "";
    position: absolute;
    background-image: url("../img/learnyard/benefits-grid.svg");
    background-repeat: no-repeat;
    bottom: -50%;
    right: 0%;
    width: 655px;
    height: 918px;
    z-index: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.community {
  position: relative;
  background-image: url("../img/learnyard/round-glow.svg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

// .achievement-grid {
//   &::after {
//     content: "";
//     position: absolute;
//     background-image: url("../img/rigi/dark-grid.svg");
//     background-repeat: no-repeat;
//     top: 22%;
//     right: 0%;
//     width: 189px;
//     height: 518px;
//     z-index: 0;

//     @media (max-width: 768px) {
//       top: -92%;
//       background-size: 189px 300px;
//     }
//   }
//   &.active {
//     min-width: 610px;
//     transition: all 0.4s ease-out;

//     @media (max-width: 768px) {
//       min-width: 100%;
//       min-height: 365px;
//     }

//     .overlay-grid {
//       transition: all 0.4s ease-out;
//       opacity: 1;
//       top: 0;
//       left: 0;
//       bottom: 0;
//       z-index: 10;
//     }
//   }
// }

.course-content-center {
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 80%;
    background-color: rgba(112, 67, 227, 0.19);
    top: 0;
    left: 50%;
    z-index: 0;
  }
}
.nav-dropdown-open {
  transform: translateY(0%);
}

.nav-area {
  a:not(.button) {
    transition: 0.4s ease-out;

    &:hover {
      color: $purple;
    }
  }
  .hamburger {
    display: none;
  }

  .nav-link {
    position: relative;

    &:after {
      position: absolute;
      right: 0;
      bottom: -10px;
      background-color: #7043e3;
      height: 1px;
      width: 0;
      content: "";
      transition: 0.3s ease-out;
    }

    &:hover {
      &:after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }

    @media (max-width: 1280px) {
      &:after {
        bottom: 0;
      }
    }
  }
  @media (max-width: 1280px) {
    .nav-wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      width: 360px;
      right: 0;
      background-color: #fff;
      padding: 70px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(100%);
      transition: 0.4s ease-out;
      z-index: 99;

      ul {
        width: 100%;
        height: 100%;
        overflow: auto;
      }

      li {
        margin: 0;
        width: 100%;

        .dropdown {
          border-bottom: 1px solid $lightgrey;
          .dropdown-link {
            border: none;
          }
        }

        a:not(.button) {
          font-size: 16px;
          display: block;
          padding: 12px 16px;
          border-bottom: 1px solid $lightgrey;
        }

        &.button-wrapper {
          flex: 1;
          display: flex;
          align-items: flex-end;
          padding: 0 20px 90px;

          a {
            width: 100%;
          }
        }
      }
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 32px;
      height: 32px;
      padding: 7px;
      margin-left: auto;

      span {
        width: 100%;
        height: 3px;
        border-radius: 30px;
        background-color: #000;
        transition: 0.3s ease-out;
      }

      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate(6px, 1px);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -3px);
            width: 100%;
          }
        }
      }
    }

    &.nav-open {
      .nav-wrapper {
        transform: translateX(0);
      }
    }
  }

  @media (max-width: 520px) {
    .nav-wrapper {
      width: 100%;
    }
  }
}

.nav-area .nav-link.activenavtabs,
.nav-area .nav-link.activenavtabs:hover {
  color: #7043e3; /* Change this to your desired text color for active link */
}
/* Add styles for hover effect on all links */
.nav-area .nav-link:not(.activenavtabs):hover {
  color: #7043e3; /* Change this to your desired text color on hover */
}

.nav-area .nav-link:hover:after,
.nav-area .nav-link.activenavtabs:after {
  width: 100%;
  left: 0;
  right: auto;
}

// .show-footer-banner {
//   transform: translateY(0%);
// }

// .visible-popup {
//   // @apply md:translate-y-[0%];
//   transform: translateY(0px) !important;
//   opacity: 1;
//   z-index: 10;
//   .popup-slider {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 8px;
//     background-color: #7043e3;
//     transform-origin: left;
//   }
//   @media (max-width: 768px) {
//     transform: translateY(0%);
//   }
// }

// @keyframes countdown {
//   0% {
//     width: 100%;
//   }
//   100% {
//     width: 0%;
//   }
// }

// .animate {
//   animation: countdown 15s linear forwards;
// }

.code {
  position: relative;
  &:after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 36%,
      rgba(255, 255, 255, 0.23) 48%,
      rgba(255, 255, 255, 0.35) 60%,
      rgba(255, 255, 255, 0) 100%
    );

    animation: moveGradient 4s linear infinite;
    background-size: 200% 200%;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.conquer {
  background: linear-gradient(271deg, #7043e3 -29.5%, #431f9f 79.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learnyard {
  &::before {
    position: absolute;
    content: "";
    background-image: url(../img/purple-blur.png);
    z-index: 10;
    width: 540px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 540px;
    top: -150px;
    right: -190px;
  }
}
.instructors {
  position: relative;
  &::before {
    border-radius: 763px;
    background: rgba(112, 67, 227, 0.31);
    filter: blur(100px);
    content: "";
    position: absolute;
    height: 446px;
    width: 500px;
  }
}
.single-accordion {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
  padding: 24px 32px;
  .accordion-trigger {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-style: none;
    background-color: transparent;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    text-align: left;

    .accordion-marker {
      background-image: url(../img/learnyard/chevron-down-black.svg);
      width: 24px;
      height: 24px;
      background-size: 100%;
      transition: 0.4s ease-out;
      transform: rotate(0);
    }

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px;
    margin-bottom: 12px;
  }

  &.active {
    .accordion-trigger {
      .accordion-marker {
        transform: rotate(180deg);
      }
    }
    .accordion-answer {
      grid-template-rows: 1fr;
      padding-top: 24px;

      .answer-wrapper {
        opacity: 1;
        transform: scale(1) translateY(0) rotateY(0);
      }
    }
  }

  .accordion-answer {
    display: grid;
    overflow: hidden;
    grid-template-rows: 0fr;
    transition: 0.2s ease-out;

    .answer-wrapper {
      min-height: 0;

      transform: scale(0.8) translateY(20px) rotateX(20deg);
      opacity: 0;
      transition: 0.4s ease-out;

      p {
        font-size: 16px;
        // color: rgba($darkgreen, 0.8);
      }
    }

    @media (max-width: 767px) {
      .answer-wrapper {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.sticky-course {
  position: fixed;
  top: 0;
  right: 0;
  width: 440px;
  z-index: 1000; /* Adjust the z-index to ensure it's on top of other elements */
}

@media (min-width: 768px) {
  .marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
  }

  .marquee {
    position: absolute;
    top: 0;
    animation: marquee 10s linear infinite; /* Adjust the duration as needed */
  }
  .marquee2 {
    position: absolute;
    animation: marquee2 10s linear infinite;
    right: 44px;
  }
  .marquee img {
    display: block;
    margin-bottom: 20px; /* Adjust the spacing between images */
  }

  @keyframes marquee {
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }
  @keyframes marquee2 {
    0% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
  }
}
@media (max-width: 767px) {
  .marquee-container {
    overflow: hidden;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }

  .marquee {
    animation: marqueeHorizontal 10s linear infinite; /* Adjust the duration as needed */
  }
  .marquee2 {
    animation: marqueeHorizontal2 10s linear infinite; /* Adjust the duration as needed */
  }

  @keyframes marqueeHorizontal {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marqueeHorizontal2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

.lottie-container svg {
  border-radius: 16px;
}

.course-hero {
  position: relative;
  &::after {
    background: url(../img/course-hero-grid.svg) #7043e3;
    background-size: contain;
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    height: 35%;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    @media (max-width: 1023px) {
      height: 18%;
    }
    @media (max-width: 767px) {
      height: 24%;
    }
  }
}

.bg-gradient-primary {
  background: linear-gradient(
    105deg,
    rgba(112, 67, 227, 0.39) -31.44%,
    #0b041e 95.09%
  );
}

.dark-mode {
  .puzzle-bg {
    background: url(../img/learnyard/puzzle-bg.webp) #1a1328;
  }
}
.puzzle-bg {
  background: url(../img/learnyard/puzzle-bg.webp) #7043e3;

  background-size: cover;
}

.moving-arrow {
  path {
    animation: blink 1s infinite;
    &:nth-child(1) {
      animation-direction: alternate;
      animation-delay: alternate;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
      animation-direction: alternate;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
      animation-direction: alternate;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.basic-shadow {
  box-shadow: 0px 24px 28px 0px rgba(0, 0, 0, 0.15);
}

.submit-bg {
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/submit-bg-grid.webp);
    content: "";
  }

  @media (max-width: 767px) {
    &::after {
      background-size: cover;
    }
  }
}
.course-content {
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/course-content-grid.webp);
    content: "";
    background-size: cover;
  }

  @media (max-width: 767px) {
    &::after {
      background-size: cover;
    }
  }
}

.course-content-list-box {
  &:hover {
    @apply border-primary;
    box-shadow: 0px 0px 24px 0px rgba(112, 67, 227, 0.24);
  }
}

.footer-gradient {
  background: linear-gradient(180deg, #7043e3 0%, #371e78 100%);
}

.dark {
  .footer-gradient {
    background: linear-gradient(178deg, #7043e3 -78%, #0f0b19 187.87%);
  }
}

#course-lottie-container {
  svg {
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 1280px) and (max-width: 1700px) {
  .home-hero {
    min-height: calc(100vh - 78px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.morphong-text {
  position: relative;
  z-index: 9;
  display: inline-block;

  .anim-common:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (max-width: 990px) {
    display: block;
    text-align: center;

    .anim-common:not(:first-child) {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
.anim-common {
  opacity: 0;
  visibility: hidden;
  filter: blur(10px);
  transition: 1s ease-out;
  background: linear-gradient(93deg, #7043e3 4.12%, #431f9f 95.68%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);

  &.active {
    opacity: 1;
    visibility: visible;
    filter: blur(0);
  }
}

.testimonial-container {
  .tns-controls {
    top: -100px;

    button {
      border: 2px solid $purple;

      svg path {
        stroke: $purple;
      }

      &:hover {
        background-color: $purple;

        svg path {
          stroke: #fff;
        }
      }
    }
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dark\: {
  transition: 0.4s ease-out;
}

.tdnn {
  margin: 0 auto;
  /*change size of toggle with font-size*/
  font-size: 15%;
  position: relative;
  height: 16em;
  width: 30em;
  border-radius: 100px;
  transition: all 500ms ease-in-out;
  background: #423966;

  @media (max-width: 767px) {
    font-size: 10%;
  }
}
.day {
  background: #ffbf71;
}
.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;

  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: 10em;
  height: 10em;
  background: #423966;
  box-shadow: 3em 2.5em 0 0em #d9fbff inset,
    rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}

// @media not all and (min-resolution: 0.001dpcm) {
//   .safari_only {

//   }

//   .dark {
//     .safari_only {
//       mix-blend-mode: screen;
//     }
//   }
// }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .safari_only {
    mix-blend-mode: multiply;
  }

  .dark {
    .safari_only {
      mix-blend-mode: screen;
    }
  }
}

.hero-video {
  transition: 0.3s ease-out;
  opacity: 1;

  &.animating {
    opacity: 0;
  }
}

.tab-pane {
  display: none;

  &.active {
    display: block;
    animation: fadein 0.5s ease-out 1 forwards;
  }
}

.course-content-slider {
  button {
    &.active {
      background-color: #26174e;
      color: #fff;

      p {
        color: #fff;
      }
    }
  }
}

.dark {
  .course-content-slider {
    button {
      &.active {
        border: 1px solid #7043e3;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.instructor-slider-wrapper {
  .tns-controls {
    position: static;
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;

    button {
      border: 1px solid #7043e3;

      svg path {
        stroke: #7043e3;
      }

      &:hover {
        background-color: #7043e3;

        svg path {
          stroke: #fff;
        }
      }
    }
  }
}

.select-course-dropdown {
  @media (max-width: 767px) {
    pointer-events: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    height:400px;
    overflow:auto;
    pointer-events: auto;
  }
}

.equal-height-slider {
  .swiper-slide {
    height: auto;
  }
}

.testimonial-nav {
  top: -100px;
  position: absolute;
  right: 0;

  @media (max-width: 767px) {
    position: static;
    margin-top: 40px;
    justify-content: center;
  }
  .button-next,
  .button-prev {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 8px;
    border: 2px solid $purple;
    transition: 0.3s;

    svg path {
      stroke: $purple;
    }

    &:hover {
      background-color: $purple;

      svg path {
        stroke: #fff;
      }
    }
  }
}

.swiper-nav-btn {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  z-index: 10;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 8px;
  border: 2px solid $purple;
  transition: 0.3s;

  svg path {
    stroke: $purple;
  }

  &:hover {
    background-color: $purple;

    svg path {
      stroke: #fff;
    }
  }
}

.nav-wrapper {
  li {
    > a,
    .dropdown > button {
      padding: 10px 0;
    }
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        opacity: 1;
        visibility: visible;
      }
    }

    .dropdown-menu {
      min-width: 160px;
      padding: 0;
      box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.4s ease-out;

      li {
        margin: 0;
        a {
          padding: 12px 24px;
          display: block;

          &:hover {
            @apply bg-primary text-white;
          }
        }

        &:not(:last-child) {
          a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    .dropdown {
      display: block;

      svg {
        display: block;
        transition: 0.4s ease-out;
        transform: rotate(0);
      }

      .dropdown-menu {
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        border: none !important;
        @apply bg-lightgrey;
      }

      &.active {
        svg {
          transform: rotate(180deg);
        }

        .dropdown-menu {
          display: block;
          animation: fadein 0.4s ease-out 1 forwards;
        }
      }
    }
  }
}

.tickerContainer {
  max-height: 200px;
  &.nav-open {
    max-height: 0;
    padding: 0;
  }
}
.show-footer-banner{
  transform:translateY(0%)
}


.whatsapp-widget-container {
  z-index: 399;
  position: fixed;
  width: 160px;
  height: 60px;
  right: 40px;
  bottom: 40px;
  background: #52c95a;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  border-radius: 10000px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.whatsapp-widget-contact {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

@media(max-width: 768px){
  .whatsapp-widget-container {
    width: 60px;
    right: 20px;
    bottom: 70px;
  }

  .whatsapp-widget-contact{
    display: none;
  }
}